
.topbar {
	background-color: lightblue;
	width: 100%;
}

.topbar_title {
}

.topbar_menu {
	width: 100%;
	display: inline-block;
	border-top: 1px solid white;
	padding: .2em;
	padding-left: 0em;
}

.topbar_menuitem {
	padding-top: .2em;
	padding-bottom: .2em;
	padding-left: .5em;
	padding-right: .5em;
	float:left;
	vertical-align: bottom;
	border-right: 1px solid white;
}

.data_column {
	display: block;
	float: left;
	border-right-color: lightblue;
	border-right-width: 3px;
	border-right-style: solid;
	width: 100%;
	height: 100%;
}

span {
	white-space:pre;
}

.element_list {
	list-style: none;
	margin: 10px;
	padding: 0px;
	border-top: solid white .1em;
}

.element_list > li:before {
    content: "+";
	margin-right: .4em;
	/*margin-left: .2em;*/
    background: lightblue;
	padding: .3em .5em .3em .5em ;
    /*text-align: center;*/
    font-weight: bold;	
	vertical-align: bottom;
}

.element_list > li:hover{
    background: #eee;
} 

.element_list > li {
    position: relative;
    display: block;
    padding: .4em .2em .4em .2em;
    margin: .5em 0 .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;  
}

.element_list > li > div {
	display: inline;
}

.detail {
	display: block;
	clear: both;
}

.key {
	display: inline-block;
	width: 5em;
	font-weight: bold;
}
 
.value {
	display: inline-block;
	min-width: 10em;
	min-height: .2em;
}

.special_value {
	display: inline-block;
	min-height: .2em;	
}

ul.list_of_keyvalues {
	list-style: none;
	padding: 0em;
	padding-bottom: .5em;
}

ul.sub_entity_list {
	list-style: none;
}

ul.list_of_keyvalues > li {
	margin: .5em;
	border-bottom: solid white .1em; 
}

.right_float {
	float: right;
}

datalist {
	display: block;
	visibility: hidden;
}